{% extends 'blog/base.html' %}

{% block content %}
	<div class="container">
		<div class="second__card">
    
        <h1>{{ post.title }}</h1>
        <p id="text__post">{{ post.text|linebreaksbr }}</p>
        <img src="{{ post.image.url }}" class="card__img__detail" alt="...">
    </div>
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
    </div>
   </div>
{% endblock %}